


.anasayfa{
    background: url("../Photos/workout.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    height: 100vh;
    background-attachment: fixed;
 }
/*to bottom, rgba(252, 153, 124, 0.2),rgba(250, 81, 30, 0.2)*/

 .headd{
    position: absolute;
   height: 10vh;
    width: 100vw;
    top: 20%;
 }
 
 
 .yazi-1{
    height: 7vh;
    width: 6vw;
    font-size: 16px;
   margin: 10px;
   padding: 0px 0px 10px 0px;
   color:white;
   display: inline-block;
   font-family: "Raleway",sans-serif;
   font-weight: 600;
  
 }
 .yazi-2{
    height: 7vh;
    width: 6vw;
    font-size: 16px;
   margin: 10px;
   padding: 0px 0px 10px 0px;
   color:white;
   display: inline-block;
   font-family: "Raleway",sans-serif;
 
 }
 .yazi-3{
    height: 7vh;
    width: 6vw;
    font-size: 16px;
   margin: 10px;
   padding: 0px 0px 10px 0px;
   color:white;
   display: inline-block;
   font-family: "Raleway",sans-serif;
 
 }
 .yazi-44{
    height: 7vh;
    width: 6vw;
    font-size: 16px;
   margin: 10px;
   padding: 0px 0px 10px 0px;
   color:white;
   display: inline-block;
   font-family: "Raleway",sans-serif;
 }
 .yazi-5{
    height: 7vh;
    width: 6vw;
    font-size: 16px;
   margin: 10px;
   padding: 5px;
   color:white;
   display: inline-block;
   font-family:"Raleway",sans-serif;
 }
 .yazi-4{
    position: relative;
    left: 19%;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-family:"Raleway",sans-serif;
    font-size: 18px;
    background-color: #df1d2f;
    padding: 13px 23px 13px 24px;
    text-align: center;
    border-radius: 30px;
    letter-spacing: 1.25px;
    display: inline-block;
 
 }
 

 .yazi-1:hover:after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.2s ease-in-out;
    transform: translateY(5px); /* adjust the distance from the te */
    
  }
  
  .yazi-1:hover:after {
    width: 40%;
    transform: translateY(5px);

  }

  .yazi-2::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.2s ease-in-out;
    transform: translateY(5px); /* adjust the distance from the text */
  }
  
  .yazi-2:hover::after {
    width: 41%;
    transform: translateY(5px);
  }
  .yazi-3::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.2s ease-in-out;
    transform: translateY(5px); /* adjust the distance from the text */
  }
  
  .yazi-3::after {
    width: 60%;
    transform: translateY(5px);
  }


  .yazi-44::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.2s ease-in-out;
    transform: translateY(5px); /* adjust the distance from the text */
  }
  
  .yazi-44:hover::after {
    width: 80%;
    transform: translateY(5px);
  }


  .yazi-5::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.2s ease-in-out;
    transform: translateY(5px); /* adjust the distance from the text */
  }
  
  .yazi-5:hover::after {
    width: 85%;
    transform: translateY(5px);
  }


 .yazi-4:hover{
  opacity:0.3;
  box-shadow: .2s;
 }

 .navs{
    display: inline-block;
    position:fixed;
    margin-right: 35px;
    margin-top: 15px;
    top:4%;
    left: 30%;
 
 }
 
 .logo{

    position: absolute;
    top:2%;
    left: 5%;
    width: 50px;
    
    
    }
img{
    width: 300px;
    height: auto;
}
 .yazilar-1{
    top: 445.5px;
    left: 92.6014px;
    transform-origin: 50% 50%;
    margin: 0px;
    padding: 0px;
    font-size: 63.55px;
    position:absolute;
    left: 30%;
    font-family: "Raleway",sans-serif;
    color: white;

 }
 .yazilar-2{
    top: 32%;
    transform-origin: 50% 50%;
    position:absolute;
    left: 30%;
    font-family: "Raleway",sans-serif;
    color: white;
    font-size: 3rem; 
    border: 2px solid white; 
    padding: 20px; 
    text-align: center;
     color: #ffffff;
    text-shadow: 0px 3px 3px rgba(0,0,0,0.5);
    font-size: 23.6043px;
}
.yazilar-3{
    top: 52%;
    position:absolute;
    left: 30%;
    font-family: "Raleway",sans-serif;
    color: white;
    padding: 20px; 
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 3px 3px rgba(0,0,0,0.5);
    font-size: 20px;
    background-color: #df1d2f;
}
.yazilar-3:hover{
  opacity:0.3;
  box-shadow: .2s;
 }

.logolar{
position: absolute;
top: 2%;
left: 120%;
color: #ffffff;
}

.next{
    background: transparent;
    height: 54px;
    line-height: 54px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 54px;
    font-size: 25px;
    color: #fff;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    left: 92%;
    font-size: 18px;
    line-height: 54px;
}
.next:hover{
    opacity:0.9;
  box-shadow: .2s;
  background-color: #df1d2f;
}


.right{
    font-family: 'themify';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.bubble {
   
  }
  .bubble::before,
  .bubble::after {
    content: "";
    position: absolute;
    top: 18px;
    right: 20px;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #f1f1f1;
  }
  
  .bubble::after {
    border-width: 0 0 0 10px;
    border-color: transparent transparent transparent white;
    right: 11px;
  }


.previous{
    background: transparent;
    height: 54px;
    line-height: 54px;
    position: absolute;
    text-align: center;
    top: 49%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 54px;
    font-size: 25px;
    color: #fff;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    left: 8%;
    font-size: 18px;
    line-height: 54px;
}
.previous:hover{
    opacity:0.9;
  box-shadow: .2s;
  background-color: #df1d2f;
}

.bubble-2 {
  
  }
  
  .bubble-2::before,
  .bubble-2::after {
    content: "";
    position: absolute;
    top:18px;
    right: 24px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f1f1f1 transparent transparent;
  }
  
  .bubble-2::after {
    border-width: 0 10px 0 0;
    border-color: transparent white transparent transparent;
    left: 11px;
  }

  #logoş:hover{
    opacity:0.9;
    box-shadow: .2s;
  }


 /* Table Styles */

.workout-table {
position: relative;
height: 55vh;
width: 50vw;
right: 10%;
margin: auto;
margin-top: 5%;
background: #f2f2f2;
border-radius: 10px;
padding: 2em;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.workout-table h1 {
text-align: center;
color: #333;
font-family: "Raleway",sans-serif;
margin-bottom: 1em;
}

#records {
width: 100%;
border-collapse: collapse;
}

#records th, 
#records td {
padding: 1em;
text-align: center;
border-bottom: 1px solid #ddd;
}

#records th {
background-color: #df1d2f;
color: white;
}

/* Button Styles */

.buttons {
display: flex;
justify-content: center;
margin-top: 2em;
}

.buttons button {
background-color: #df1d2f;
color: white;
border: none;
padding: 1em 2em;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 1em;
margin: 0 1em;
transition-duration: 0.4s;
cursor: pointer;
border-radius: 10px;
}

.buttons button:hover {
background-color: white; 
color: #df1d2f; 
border: 2px solid #4CAF50;
}
.progress-bar {
position: absolute;
top: 100%;
left: 0;
width: 100%;
height: 10px;
background-color: #f2f2f2;
border-radius: 10px;
margin-top: 1em;
overflow: hidden;
}

.progress {
height: 800%;
background-color: #df1d2f;
color: #df1d2f;
width: 0;
transition: width 0.3s ease;
}

.progress-bar {
width: 100%;
background-color: #ddd;
border-radius: 10px;
overflow: hidden;
}

.progress {
width: 50%; /* Adjust this value based on the user's progress */
height: 20px;
background-color: #df1d2f;
transition: width 0.5s ease-in-out;
}


.previous {
background: transparent;
height: 80px; /* Adjust the height as desired */
width: 80px; /* Adjust the width as desired */
line-height: 80px; /* Adjust the line-height to vertically center the text */
position: absolute;
text-align: center;
top: 86%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
font-size: 30px; /* Adjust the font size as desired */
color: #fff;
background-color: rgba(255,255,255,0.2);
border-radius: 50%;
left: 81%;
}


.previous:hover{
opacity:0.9;
box-shadow: .2s;
background-color: #df1d2f;
}